 h1 {
     font-size: 4rem !important;
     @media (min-width: 768px) {
        font-size: 8rem !important;
     }
 }

 h2, h3 {
    font-family: 'Ubuntu Condensed';
 }

 h2 {
    font-size: 2rem !important;
    @media (min-width: 768px) {
       font-size: 3.3rem !important;
    }
 }

 h3 {
    font-size: 1.6rem !important;
    @media (min-width: 768px) {
       font-size: 2.4rem !important;
    }
 }