@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

.text-righteous {
    font-family: 'Righteous' !important;
    letter-spacing: .4rem;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap');

.text-condensed {
    font-family: 'Ubuntu Condensed' !important;
}

.text-bold {
    font-weight: 600;
}